[Unit]
After=casaos-gateway.service
Description=IceWhale ZimaCube Metrics Service

[Service]
ExecStart=/usr/bin/zimacube-metrics
Restart=always
Type=notify

[Install]
WantedBy=multi-user.target
